USE [master]
GO
/****** Object:  Database [CoreBanking0606]    Script Date: 9/24/2026 4:32:44 PM ******/
CREATE DATABASE [CoreBanking0606]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreBanking0606', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CoreBanking0606.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoreBanking0606_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CoreBanking0606_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreBanking0606].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreBanking0606]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/24/2026 4:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](11) NOT NULL,
	[EmployeeStatusId] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeStatusId]    Script Date: 9/24/2026 4:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeStatusId](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeStatusId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Username], [Password], [Mobile], [EmployeeStatusId]) VALUES (1, N'Zahra', N'Salimzadeh', N'z.salimzadeh', N'e10adc3949ba59abbe56e057f20f883e', N'09043565941', 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeStatusId] ON 

INSERT [dbo].[EmployeeStatusId] ([Id], [Title]) VALUES (1, N'Pending')
INSERT [dbo].[EmployeeStatusId] ([Id], [Title]) VALUES (2, N'Active')
INSERT [dbo].[EmployeeStatusId] ([Id], [Title]) VALUES (3, N'Deactive')
SET IDENTITY_INSERT [dbo].[EmployeeStatusId] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Employee_Username]    Script Date: 9/24/2026 4:32:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Employee_Username] ON [dbo].[Employee]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeStatusId] FOREIGN KEY([EmployeeStatusId])
REFERENCES [dbo].[EmployeeStatusId] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeStatusId]
GO
USE [master]
GO
